.App {
  text-align: center;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 20px auto;
}
.form {
  display: flex;
  width: 30%;
  margin: 30px auto;
}
